.movie-card {
  width: 220px;
  height: 440px;
  perspective: 1000px;
  transition: transform 0.6s;
  cursor: pointer;
  position: relative;
  box-shadow: 0px 2px 6px rgba(255, 0, 0, 0.3);
}

.movie-card.flipped {
  transform: rotateY(180deg);
}

.movie-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.movie-card.flipped .movie-card-inner {
  transform: rotateY(180deg);
}

.movie-card-front,
.movie-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0px 2px 6px rgba(255, 0, 0, 0.3);
}

.movie-card-front {
  background-color: #fff;
  transform: rotateY(0deg);
}

.movie-card-back {
  background-color: #f5f5f5;
  transform: rotateY(180deg);
  padding: 20px;
  text-align: left;
}

.movie-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  transform: rotateY(180deg);
}
